body {
    font-family: Arial;
    background-color: #ccd;
}

/*div {
    margin-top: 20 px;
}*/

ul {
    margin: 0 px;
    margin-block-start: 0px;
    -webkit-margin-before: 0px;
}


#userCount {
    color: #c22
}

rect.whiteKey {
    width: 20px;
    height: 120px;
    fill: white;
    stroke-width: 2;
    stroke: black;
    rx: 4;
    ry: 4;
}

rect.blackKey {
    width: 10px;
    height: 80px;
    fill: black;
    stroke-width: 2;
    stroke: black;
    rx: 4;
    ry: 4;
}

rect.pressed {
    fill: blue;
}

rect.pressedRemote {
    fill: red;
}

.keySign {
    font-family: Arial;
    font-size: 10px;
    color: blue;
}
